
<main>
    <div id="page-inner">
        <div id="apresentation">
            <span class="tags top-tags"> &lt;h1&gt; <br> </span>
            <h1 class="hi">Hi,</h1>
            <h1 class="marcos">I'm Marcos,</h1>
            <h1 class="front">Front End Developer</h1>
            <br>
            <p>Package Web, Angular and TypeScript</p>
            <span class="tags top-tags"> &lt;/h1&gt; <br> </span>
        </div>
        <div class="girf-animation">
            <img [src]="girf1" alt="">
        </div>
    </div>
</main>