.container-contact{
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* contatos config */

.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contact-title{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.contact-title h1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-title p{
    font-size: 24px;
}


/* Configuração do formulario */

.contact-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px;
    
}

input{
    font-family: inherit;
    width: 50rem;
    border: 0;
    border-bottom: 2px solid #2ECC71;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 25px;

}

input::placeholder{
    color: #2ECC71;
}

input:placeholder-shown{
    font-size: 1.5rem;
    cursor: text;
    top: 30px;
}

.form__field:focus{
    padding-bottom: 15px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #fff);
    border-image-slice: 1;
    -webkit-filter: drop-shadow(15px 10px 5px #2ECC71);
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}




/* teste area configuraçaõ de texto */

textarea{
    font-family: inherit;
    width: 50rem;
    border: 0;
    border-bottom: 2px solid #2ECC71;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 25px;

}

textarea::placeholder{
    color: #2ECC71;
    text-align: center;
    
}

textarea:hover{
    -webkit-filter: drop-shadow(15px 10px 5px #2ECC71);
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

button{
    margin-top: 50px;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border-color: #2ECC71;
}

button:hover{
    background-color: #2ECC71;
}




