.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* contatos config */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contact-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.contact-title h1{
    margin-bottom: 20px;
}

.contact-title p{
    font-size: 1rem;
    width: 80%;
}

/* Configuração do formulario */

.contact-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3rem;
    border-radius: 25px;
    background: linear-gradient(315deg, #1e2b37, #19242e);
    box-shadow:  -10px -10px 20px #0b1014,
             10px 10px 20px #2d4052; 
}

input{
    font-family: inherit;
    width: 20rem;
    border: 0;
    border-bottom: 2px solid #2ECC71;
    outline: 0;
    font-size: 1rem;
    color: #fff;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 15px;
    text-align: center;

}

input::placeholder{
    color: #2ECC71;
}

input:placeholder-shown{
    font-size: 1rem;
    cursor: text;
    top: 30px;
}

.form__field:focus{
    padding-bottom: 15px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #fff);
    border-image-slice: 1;
    -webkit-filter: drop-shadow(15px 10px 5px #2ECC71);
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}




/* teste area configuraçaõ de texto */

textarea{
    font-family: inherit;
    width: 30rem;
    border: 0;
    border-bottom: 2px solid #2ECC71;
    outline: 0;
    font-size: 0.8rem;
    color: #fff;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 5px;
}

textarea::placeholder{
    color: #2ECC71;
    text-align: center;
}

textarea:hover{
    -webkit-filter: drop-shadow(15px 10px 5px #2ECC71);
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

button{
    position: relative;
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: #2ECC71;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em #090d11;
    margin-top: 1rem;
}

button::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgb(28, 40, 51) 0%, rgb(28, 40, 51) 50%, rgb(5, 192, 20) 50%, rgb(4, 191, 51) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  button:hover::before {
    width: 1.6em;
    height: 1.6em;
  }
  
  button:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }



  /* responsividade */

  @media (min-width:320px) and (max-width: 425px){
    
    input{
        width: 15rem;
    
    }

    textarea{
        width: 15rem;
        
    }
    
  }