<div class="container-contact">
  <div class="contact">
    <div class="contact-title">
        <h1>Contact me</h1>

        <p>I'm interested in fleelance opportunities focus in LandsPage and WebSites. However, if you have other request or question, don't hesitate to use te form.</p>
    </div>
    <div class="contact-form">
      <form action="submit">
        <input type="text" name="name" placeholder="Name" id="name">
        <input type="text" name="Email" id="Email" placeholder="Email">
        <input type="text" name="Subject" id="subject" placeholder="subject">
        <textarea name="Message" id="message" cols="30" rows="10" placeholder="Message"></textarea>

        <button class="btn-message">Send Message!</button>
      </form>
    </div>
  </div>

  <div class="maps">
    <h1>Maps</h1>
  </div>
</div>
