<div class="container-contact">
  <div class="contact">
    <div class="contact-title">
      <h1>Contact me!</h1>

      <p>
        I'm interested in fleelance opportunities focus in LandsPage and
        WebSites. However, if you have other request or question, don't hesitate
        to use te form.
      </p>
    </div>
    <div class="contact-form">
      <form action="submit">
        <input type="text" class="form__field" name="name" placeholder="Name" id="name" required />
        <input type="text" class="form__field" name="Email" id="Email" placeholder="E-mail" required />
        <input type="text" class="form__field" name="Subject" id="subject" placeholder="Subject" required />
        <textarea name="Message" id="message" cols="30" rows="10" placeholder="Message"></textarea>

        <button class="btn-message">Send Message!</button>
      </form>
    </div>
  </div>
</div>