<main>
  <div class="page-inner">
    <div class="skills">
      <span class="tags top-tags"> &lt;h2&gt; <br /> </span>
      <h1>Skill & Experience</h1>
      <span class="tags top-tags"> &lt;/h2&gt; <br /> </span>

      <span class="tags top-tags"> &lt;p&gt; <br /> </span>
      <p>
        Nulla ut ultrices leo. Nulla volutpat diam ac porta mollis. Praesent
        rutrum lacus enim, aliquam hendrerit mauris commodo et. Pellentesque eu
        justo tincidunt, elementum magna vitae, blandit urna. Donec elementum
        sollicitudin nunc at lobortis.
      </p>

      <p>
        Nullam interdum libero eu ex feugiat eleifend. Fusce viverra facilisis
        tincidunt. Maecenas dui velit, iaculis quis consectetur eu, elementum at
        nulla. Nullam libero nibh, sodales ut arcu non, pharetra convallis
        justo. Vestibulum sit amet varius tellus. Maecenas gravida dolor elit,
        id rutrum orci luctus sed. Maecenas ut vehicula elit. Curabitur augue
        nisl, pharetra vel velit sit amet, malesuada facilisis mi.
      </p>
      <span class="tags top-tags"> &lt;/p&gt; <br /> </span>
    </div>
    <div class="skills-grafics">
      <div class="grafic">
        <div class="chart">
          <span>Front-end</span>
          <footer><div data-width="75%" style="width: 75%"></div></footer>
        </div>
        <div class="chart">
            <span>Angular</span>
            <footer><div data-width="65%" style="width: 65%"></div></footer>
          </div>
        <div class="chart">
          <span>Back-end</span>
          <footer>
            <div
              data-width="30%"
              style="background: rgb(255, 34, 83); width: 30%"
            ></div>
          </footer>
        </div>
        <div class="chart">
          <span>ReactJS</span>
          <footer>
            <div
              data-width="10%"
              style="background: rgb(210, 108, 213); width: 10%"
            ></div>
          </footer>
        </div>
      </div>
      <div class="experience">
        <div class="front">
          <h1>Front end Developer(HTML E JS)</h1>
          <br />
          <h4>2021-in moment</h4>
          <p>
            Nulla ut ultrices leo. Nulla volutpat diam ac porta mollis. Praesent
            rutrum lacus enim, aliquam hendrerit mauris commodo et. Pellentesque
            eu justo tincidunt, elementum magna vitae, blandit urna. Donec
            elementum sollicitudin nunc at lobortis.
          </p>
        </div>
        <div class="back">
          <h1>Front end Developer - Angular</h1>
          <br />
          <h4>2021-in moment</h4>
          <p>
            Nulla ut ultrices leo. Nulla volutpat diam ac porta mollis. Praesent
            rutrum lacus enim, aliquam hendrerit mauris commodo et. Pellentesque
            eu justo tincidunt, elementum magna vitae, blandit urna. Donec
            elementum sollicitudin nunc at lobortis.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
