<main id="skillPage">
  <div class="page-inner">
    <div class="skills">
      <span class="tags top-tags"> &lt;h2&gt; <br /> </span>
      <h1>Skill & Experience</h1>
      <span class="tags top-tags"> &lt;/h2&gt; <br /> </span>

      <span class="tags top-tags"> &lt;p&gt; <br /> </span>
      <p>
        Olá, que bom te-los aqui, tudo bem? espero que sim, como viu meu nome é Marcos,
        sou desenvolvedor Front-end em busca de realizar minha transição de carreira, venho do mercado
        comercial e de gestão onde ja tenho quase uma decada de atuação desempenhando os papeis de supervisor 
        de vendas, administrativo e financeiro, bem como coordenador de operações! Com isso tenho bagagem e experiência 
        que me auxiliaram a desemvolver competecias e habilidades essências no mercado de trabalho! 
      </p>

      <p>
        Tenho como foca migrar inicialmente como desenvolvedor Front-end, e estabelecer carreira dentro do mercado 
        sempre em busca de aprimoramento e novos aprendizados, hoje já desenvolvo nas sequintes linguagens e tecnologias:
        Angular, JavaScript, TypeScript, NodeJs, Java e SpringBoot. Porém estou apenas no inicio e espero poder lhe ajudar, 
        assim também estarei me desenvolvendo!
      </p>
      <span class="tags top-tags"> &lt;/p&gt; <br /> </span>
    </div>
    <div class="skills-grafics">
      <div class="grafic">
        <div class="chart">
          <span>Angular</span>
          <footer><div data-width="75%" style="width: 75%"></div></footer>
        </div>
        <div class="chart">
            <span>JavaScript</span>
            <footer><div data-width="65%" style="width: 65%"></div></footer>
          </div>
        <div class="chart">
          <span>java</span>
          <footer>
            <div
              data-width="30%"
              style="background: rgb(255, 34, 83); width: 30%"
            ></div>
          </footer>
        </div>
        <div class="chart">
          <span>NodeJs</span>
          <footer>
            <div
              data-width="10%"
              style="background: rgb(210, 108, 213); width: 10%"
            ></div>
          </footer>
        </div>
      </div>
      <div class="experience">
        <div class="front">
          <h1>Front-end Developer (HTML, CSS, JavaScript and Angular)</h1>
          <br />
          <h4>Inicio em 2021</h4>
          <p>
            Decidi iniciar por estas tecnologias, alem de ter tido pequenos trabalhos que me fizeram sentir na pratica como seria
            trabalhar com elas.
          </p>
        </div>
        <div class="back">
          <h1>Java Developer</h1>
          <br />
          <h4>Inicio em 2022</h4>
          <p>
            Mediante a querer entender melhor a totalidade do processo Web tomei iniciativa nos estudos 
            e desenvolvimentos de codigos em Java com inituito e futuramente me torna Desenvolvedor FullStack!
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
