/* configuração geral */
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* layout da home */
.page-inner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;
}
span{
    text-decoration: line-through;
    font-family: 'La Belle Aurore',cursive;
    opacity: 0.5;
    font-size: 18px;
    font-weight: bolder;
    background: #17202A;
    box-shadow:  -6px 6px 12px #090d11,
             6px -6px 12px #253343;
    border-radius: 25px;
    padding: 0.2rem;
}

/* configurando as skill text */

.skills{
    height: 70vh;
    width: 60%;
    padding: 30px 30px 0px 30px;
}

.skills h1{
    font-size: 2rem;
    transition: all 0.5s;
    margin: 15px;
}

.skills h1:hover{
    color: #2ECC71;
    background: #17202A;
    box-shadow:  -6px 6px 12px #090d11,
             6px -6px 12px #253343;
    border-radius: 25px;
    padding: 0.5rem;
}


.skills p{
    font-size: 1rem;
    margin: 30px;
    transition: 0.8s;
}

.skills p:hover{
    background: #17202A;
    box-shadow:  -6px 6px 12px #090d11,
             6px -6px 12px #253343;
    border-radius: 25px;
    padding: 0.5rem;
}


/* configurando grafico de com preenchimento */

.skills-grafics{
    padding-right: 35px;
}

.chart {
    margin-bottom: 1rem;
}

.chart span {
    font-size: 18px;
    font-family: font-file-82132;
    margin-bottom: 7px;
    display: block;
    padding: 0.3rem;
}

.chart footer {
    background-color: #373737;
    height: 2px;
    width: 100%;
}

.chart footer div {
    width: 0;
    height: 100%;
    background-color: #2ECC71;
    -webkit-transition: width 1.3s ease-out;
    -o-transition: width 1.3s ease-out;
    transition: width 1.3s ease-out;
}


/* configurando graficos e experiencias */
.skills-grafics{
    height: 85vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grafic{
    
    width: 100%;
    height: 40vh;
}

/* responsividade das skill tablets e grand mobile */

@media (min-width:425px) and (max-width: 768px){

    .second-text{
        display: none;
    }

}


@media (min-width:320px) and (max-width: 425px){

    #skillPage{
        margin-top: 5rem;
        height: 100vh;
    }

    .page-inner{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin-top: 250px;
    }

    .skills{
        height: 20vh;
        padding: 20px 0px 0px 0px;
    }

    .skills p{
        display: none;
    }
    span{
        display: none;
    }

    .skills-grafics{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        padding: 0;
    }

}