.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  max-width: 100%;
}

.work-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
}

.work-title h1{
  margin: 0.7rem;
}

.work-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  padding: 1rem;
}

.img{
  margin: 0.5rem;
  height: 100%;
  width:50%;
}

.container a img{
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

.container img:hover{
  -webkit-filter: drop-shadow(15px 10px 5px #2ECC71);
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    -webkit-transform: scale(1);
    transform: scale(1.1);
    border-radius: 5px;
}

span{
  text-decoration: line-through;
  font-family: 'La Belle Aurore',cursive;
  opacity: 0.5;
  font-size: 24px;
  font-weight: bolder;
}