
  <div class="container" id="workPage">
    <div class="work-title">
      <span class="tags top-tags"> &lt;h2&gt; <br /> </span>
      <h1>Works & projects</h1>
      <span class="tags top-tags"> &lt;/h2&gt; <br /></span>
    </div>
  

    <span class="tags top-tags"> &lt;p&gt; <br /> </span>
    <div class="work-card">
        <div class="img">
          <a href="#"><img [src]="work1"alt="work1"></a>
        </div>
        <div class="img">
          <a href="#"><img [src]="work2"alt="work2"></a>
        </div>
        <div class="img">
          <a href="#"><img [src]="work3"alt="work3"></a>
        </div>
        <div class="img">
          <a href="#"><img [src]="work4"alt="work4"></a>
        </div>
        <div class="img">
          <a href="#"><img [src]="work4"alt="work4"></a>
        </div>
        <div class="img">
          <a href="#"><img [src]="work4"alt="work4"></a>
        </div>
        <div class="img">
          <a href="#"><img [src]="work4"alt="work4"></a>
        </div>
        <div class="img">
          <a href="#"><img [src]="work4"alt="work4"></a>
        </div>
    </div>
    <span class="tags top-tags"> &lt;/p&gt; <br /></span>
    
    




