.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.work-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 7rem;
}

.work-title h1 {
  width: 30%;
  transition: 0.5s;
  margin: 1rem;
  text-align: center;
  padding: 0.2rem;
}

.work-title h1:hover {
  color: #2ECC71;
  border-radius: 25px;
  background: linear-gradient(315deg, #1e2b37, #19242e);
  box-shadow:  -10px -10px 20px #0b1014,
             10px 10px 20px #2d4052;
  width: 30%;
  text-align: center;
}

.work-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

/* cards hover dos trabalhos */

.card {
  position: relative;
  min-width: 450px;
  height: 30vh;
  margin: 20px;
  border-radius: 25px;
  overflow: hidden;
  border-radius: 25px;
  background: linear-gradient(315deg, #1e2b37, #19242e);
  box-shadow:  -10px -10px 20px #0b1014,
             10px 10px 20px #2d4052;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card__image {
  position: absolute;
  border-radius: 20px;
  min-width: 100%;
}

.card__image img {
  object-fit: cover;
  overflow:auto;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  max-width: 100%;
}

.card__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  padding: 20px;
  background-color: #1C2833;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2ECC71;
}

.card__text {
  font-size: 1rem;
  line-height: 2.35;
}


.card:hover {
  transform: translateY(-10px);
}

.card:hover .card__image img {
  transform: scale(1.1);
  cursor: pointer;
}

.card:hover .card__content {
  transform: translateY(-300%);
}

.card__image {
  height: 400px;
  width: 300px;
  background-color: #000;
  /* you can put img url here  */
}


/* span de tags html */
span {
  text-decoration: line-through;
  font-family: 'La Belle Aurore', cursive;
  opacity: 0.5;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 25px;
  background: linear-gradient(315deg, #1e2b37, #19242e);
  box-shadow:  -10px -10px 20px #0b1014,
             10px 10px 20px #2d4052;
  padding: 0.3rem;
  width: 3%;
}


/* responsividade */

@media (min-width:320px) and (max-width: 425px) {

  .work-title h1 {
    font-size: 1.5rem;
  }

  .card {
    min-width: 200px;
  }

}