<div class="container">
  <div class="card">
    <img [src]="work1" alt="Person" class="card__image" />
    <p class="card__name">Projeto LandinPage</p>
    <div class="grid-container">
      <div class="grid-child">Angular </div>

      <div class="grid-child-followers">TypeScipts</div>
    </div>
    <button class="btn draw-border">See more!</button>
    <button class="btn draw-border">Message</button>
  </div>
  <div class="card">
    <img
      [src]="work2"
      alt="Person"
      class="card__image"
    />
    <p class="card__name">CRUD Angular</p>
    <div class="grid-container">
        <div class="grid-child">Angular </div>
  
        <div class="grid-child-followers">TypeScipts</div>
      </div>
      <button class="btn draw-border">See more!</button>
      <button class="btn draw-border">Message</button>
    </div>
  <div class="card">
    <img
      [src]="work3"
      alt="Person"
      class="card__image"
    />
    <p class="card__name">Calculadora JS</p>
    <div class="grid-container">
        <div class="grid-child">HTML & CSS </div>
  
        <div class="grid-child-followers">JavaScript</div>
      </div>
      <button class="btn draw-border">See more!</button>
      <button class="btn draw-border">Message</button>
    </div>
  <div class="card">
    <img
      [src]="work4"
      alt="Person"
      class="card__image"
    />
    <p class="card__name">Login Page</p>
    <div class="grid-container">
        <div class="grid-child">HTML & CSS</div>
  
        <div class="grid-child-followers">JavaScript</div>
      </div>
      <button class="btn draw-border">See more!</button>
      <button class="btn draw-border">Message</button>
    </div>
</div>
