<div class="container" id="workPage">
  <div class="work-title">
    <span class="tags top-tags"> &lt;h2&gt; <br /> </span>
    <h1>Trabalhos & Projetos</h1>
    <span class="tags top-tags"> &lt;/h2&gt; <br /></span>
  </div>

  <div class="work-card">
    <div class="card">
      <div class="card__image">
        <a
          href="https://github.com/Marck45/Calculador-de-gorjetas"
          target="_blank"
          ><img [src]="work1" alt="Calculadora de Gorjetas"
        /></a>
      </div>
      <div class="card__content">
        <p class="card__title">Calculadora de Gorjetas</p>
        <p class="card__text">
          Projeto criado para calcular gorjetas e mostrar em nota valores totais
          e separados da conta do cliente
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <a href="https://cadastroprodutocrud.netlify.app" target="_blank"
          ><img [src]="work2" alt="CRUD em Angular"
        /></a>
      </div>
      <div class="card__content">
        <p class="card__title">CRUD em Angular</p>
        <p class="card__text">
          Projeto criado para fortalecer conhecimentos de Angular e por em
          pratica conhecimento solicitados no mercado de trabalho
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <a href="https://marck45.github.io/Calculadora-JS/" target="_blank"
          ><img [src]="work3" alt="trabalho 1"
        /></a>
      </div>
      <div class="card__content">
        <p class="card__title">Calculadora JS</p>
        <p class="card__text">
          Calculadora criada com JavaScript puro afim de treinar habilidades
          basicas e conceitos para assim ir aprimorar frameworks.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <a href=" https://marck45.github.io/Tela-de-login/" target="_blank"
          ><img [src]="work4" alt="trabalho 1"
        /></a>
      </div>
      <div class="card__content">
        <p class="card__title">Pagina de login</p>
        <p class="card__text">
          pagina criada para projetos diversos treinando HTML e CSS.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <a href="https://marck45.github.io/Consulta-Clima/" target="_blank"
          ><img [src]="work5" alt="trabalho 1"
        /></a>
      </div>
      <div class="card__content">
        <p class="card__title">Consulta clima</p>
        <p class="card__text">
          Aplicação criada com consumo de API de clima, fazendo consulta por
          cidades e dando informações como temperatura, umidade e outros.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card__image">
        <a href="https://marck45.github.io/Pokedex---Marck/" target="_blank"
          ><img [src]="work6" alt="trabalho 1"
        /></a>
      </div>
      <div class="card__content">
        <p class="card__title">Pokedex</p>
        <p class="card__text">
          Pokedex criada com consumo da API pokeAPI, estilização e efeitos
          criados do zero, utilizando HTML, CSS e JavaScript.
        </p>
      </div>
    </div>
  </div>
</div>
