.container{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}


.container a img{
  height: 250px;
  width: 500px;
  border-radius: 5px;
  
}

.container img:hover{
  -webkit-filter: drop-shadow(15px 10px 5px #2ECC71);
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    -webkit-transform: scale(1);
    transform: scale(1.1);
    border-radius: 5px;
}