/* You can add global styles to this file, and also import other style files */
*{
    background-color: #1C2833;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Roboto' , sans-serif;
} 

